/*shake movement when hover on send button from contact form*/
@keyframes shakeContantFormSendButton {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

/* PopUp on center when load contact form screen for fist time */
@keyframes popUpContanctForm {
	0% {
		transform: scale(0.5);
	}
    
	75% {
		transform: scale(1.2);
	}

    100% {
		transform: scale(1);
	}
}